
body{
    /* background-color: black; */
    background-image: url('../images/sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.a-1{
    background-color: red;
    padding-top: 20px;
    padding-bottom: 10px;
}
.h1{
    color: wheat;
    font-family: calibri;
    padding : 50px;
    border: 5px solid black;
    border-radius: 58px;
    border-style: dashed;
    margin: 40px 40px 50px 50px;

}
details{
    color: white;
    font-family: calibri;
}
.h2{
    color: wheat;
    font-family: calibri;
}
.h3{
    color:red;
    font-family: calibri;
}
/* p{
    text-align: right;
    color: wheat;
} */
.p-h3{
    text-align: right;
    color: black;
    background-color:skyblue;
}
.h3-2{
    color: whitesmoke;
    font-family: calibri;
}